.none {
    display: none;
}
.spinner {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transform: translatey(-50%);
}
.about {
    margin-top: 70px;
    .about__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        justify-content: space-between;
        margin-right: 29px;

        .about__item {
            img {
                box-shadow: 1px 2px 13px grey;
                border-radius: 8px;
                width: 120px;
                height: 120px;
                object-fit: cover;
            }
        }
    }
}

.about__inner {
    display: flex;
}

.img_banner {
    display: flex;

    img {
        width: 540px;
        height: 600px;
        object-fit: cover;
        box-shadow: 1px 2px 13px grey;
        border-radius: 8px;
    }

    .banner__info {
        width: 500px;
        margin-left: 40px;
        h2 {
            font-size: 26px;
            line-height: 35px;
        }

        b {
            display: block;
            margin-top: 23px;
            color: #A18A68;
        }

        .banner__star {
            margin-top: 60px;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            span {
                color: grey;
            }
        }

        p {
            margin-top: 19px;
            margin-bottom: 38px;
            width: 450px;
        }

        .btn1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
            .banner__btn {
                padding: 15px;
                font-size: 16px;
                border: none;
                background-color: #EFEFEF;

                &:nth-child(1) {
                    border-radius: 4px 0 0 4px;
                }

                &:nth-child(3) {
                    border-radius: 0px 4px 4px 0px;
                }
            }
        }

        .banner__cart {
            font-size: 16px;
            line-height: 21px;
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 16px 100px;
            background-color: #fff;

            &:hover {
                background-color: rgb(0, 0, 0);
                border: 1px solid rgba(165, 161, 161, 0.432);
                color: #fff;
            }
        }
        .banner__socialMedia{
            width: 50%;
            margin-top: 70px;
            display: flex;
            justify-content: space-between;
            .socialMedia_item {
                
                color: #707070;
                &:nth-child(2){
                    border:  1px solid #D8D8D8;
                }
            }
        }
    }
}
.about__btnLink {
    position: relative;
    margin-right: 96px;
    color:  #707070;
    border: none;
    background-color: inherit;
}
.btnLinkActive::after {
    display: block;
    position: absolute;
    bottom: -135%;
    content: '';
    width: 100%;
    border: 1px solid #000;
}
.about__btn__list {
    padding: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid grey;
    margin-top: 120px;
}

.about__similar {
    display: flex;
    a{
        color: #000;
        text-decoration: none;
        img{
            width: 380px;
            height: 380px;
            object-fit: cover;
        }
        span{
            color: #A18A68;
        }
    }
}